[worldserver]

#
###################################################################################################

###################################################################################################
#
# QUICKBALANCE ANNOUNCE
#
#     QuickBalanceAnnounce.enable
#        Announce the module on login if it is enabled
#        Default:     1 (1 = ON, 0 = OFF)

QuickBalanceAnnounce.enable=1

#
# QUICKBALANCE OPTIONS
#
#     QuickBalance.enable
#        Enable/Disable the quickbalance system
#        Default:     1 (1 = ON, 0 = OFF)

QuickBalance.enable=1